[submodule "CrockerGUI/external/libzmq"]
	path = CrockerGUI/external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "CrockerGUI/external/cppzmq"]
	path = CrockerGUI/external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "CrockerGUI/external/GLFW"]
	path = CrockerGUI/external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "CrockerGUI/external/glm"]
	path = CrockerGUI/external/glm
	url = https://github.com/g-truc/glm.git
